<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classification of Infant Heart Abnormalities</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="static/css/bootstrap.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<header>
    <img src="static/images/isysrg-white.png" alt="Logo" id="logo">
</header>


<body>


    <button class="configure-button" onclick="openConfigPopup()">Configure</button>
    <div class="blurred-background" id="blurredBackground"></div>

    <div id="configPopup">
        <div>
            <h3>Device Type</h3>
            <div style="display: flex; align-items: center; gap: 10px;">
                <select id="deviceSelect" name="device">
                    <option value="cpu">CPU</option>
                    {% for i in range(device_count) %}
                    <option value="cuda:{{ i }}">CUDA:{{ i }}</option>
                    {% endfor %}
                </select>
                <button onclick="saveConfig()">Save</button>
            </div>
        </div>                
        <div>
            <h3>Upload Model</h3>
            <div class="upload-container">
                <input type="file" id="modelFile" accept=".pt">
                <button class="upload-button" onclick="uploadModel()">Upload</button>
            </div>
        </div>
        <div class="button-container">
            <button onclick="closeConfigPopup()">Close</button>
        </div>    
    </div>

    <div class="container mt-5">
        <h1>CardioWatch Infant</h1>
        <p>Klasifikasi abnormalitas jantung anak dengan cepat dan lengkap!</p>

        <div class="info-container">
            <div><span class="info-title">Model Path:</span> {{ model_path }}</div>
            <div><span class="info-title">Device:</span> {{ device }}</div>
        </div>

        <form id="uploadForm" enctype="multipart/form-data">
            <div class="file-input-wrapper">
                <input class="form-control" type="file" id="fileInput" accept="image/*,video/*" multiple>
                <label class="file-input-label" for="fileInput">Tambahkan Gambar/Video Disini!</label>
            </div>
            <button type="submit" class="btn-upload" id="uploadButton">Upload</button>
        </form>

        <div id="fileList" class="mt-3"></div>
        <br>
        <br>
    </div>

    <script src="static/js/script.js"></script>
    <script src="static/js/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <footer>
        <div class="footer-content">
            <div>&copy; 2024 Your Website Name</div>
            <ul class="social-icons">
                <li><a href="#" aria-label="Facebook">&#x1F464;</a></li>
                <li><a href="#" aria-label="Twitter">&#x1F426;</a></li>
                <li><a href="#" aria-label="Instagram">&#x1F4F7;</a></li>
                <li><a href="#" aria-label="LinkedIn">&#x1F4BB;</a></li>
            </ul>
            <div>Contact: info@yourwebsite.com</div>
        </div>
    </footer>



</body>
</html>
